.container {
  width: 100%;
  background-color: var(--gray-500);
  padding: 2rem;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25% 1.5rem 25%;
  padding: 1rem;
  width: 50%;
  height: 3.5rem;
  border-radius: 3rem;
  background-color: var(--gray-200);
}

.inputSearch {
  border-style: none;
  background-color: var(--gray-200);
  width: 80%;
  color: white;
}

.inputSearch:focus {
  outline: none;
}

.searchBtn {
  background: none;
  cursor: pointer;
  border-style: none;
}

.chooseContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.chooseContentContainer button {
  background-color: var(--gray-200);
  border-style: none;
  border-radius: 3rem;
  width: 9rem;
  height: 3rem;

  color: white;

  cursor: pointer;
}

.chooseContentContainer button:hover {
  border: 1px solid white;
  transition: 700ms;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.filterContainer button {
  background-color: var(--gray-200);
  border-style: none;
  border-radius: 3rem;
  width: 9rem;
  height: 3rem;

  color: white;

  cursor: pointer;
}

.filterContainer button:nth-child(1) {
  background: linear-gradient(to right, var(--blue-500), #00F2FE);
}

.filterContainer button:hover {
  border: 1px solid white;
  transition: 700ms;
}

.pagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}
.pagContainer button {
  padding: 0.8rem;
  background-color: var(--blue-500);
  color: white;

  border-radius: 1rem;
  border-style: none;

  cursor: pointer;
}

.pagContainer button:hover {
  background-color: var(--blue-600);
}

.pagContainer button:disabled {
  color: rgba(255, 255, 255, 0.255);
  background-color: var(--blue-200);
}

@media only screen and (max-width: 480px) {
  .searchBar {
    width: 80%;
    margin: 0 10% 1.5rem 10%;
  }
  .filterContainer {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .filterContainer button:first-child {
    margin-left: 52rem;
  }
  .filterContainer button {
    white-space: nowrap;
    flex-shrink: 0;
    min-width: 8rem;
    margin-right: 0.5rem;
  }
  .filterContainer button:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .filterContainer {
    display: flex;
    overflow-x: auto;
  }

}