.container {
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  background-color: var(--gray-500);
}

.formContainer input {
  width: 80%;
  margin: 0 10% 1.2rem 10%;
  height: 4rem;
  border-radius: 1rem;
  border-style: none;
  background-color: var(--gray-200);
  padding: 1rem;
  color: white;
}

.formContainer textarea {
  width: 80%;
  margin: 0 10% 1.2rem 10%;
  border-radius: 1rem;
  border-style: none;
  background-color: var(--gray-200);
  padding: 1rem;
  height: 8rem;
  color: white;
}

.btn {
  width: 80%;
  justify-content: center;
  height: 3.5rem;
  background-color: var(--blue-500);
  color: white;
  border-radius: 1rem;
  border-style: none;
  font-size: large;
  margin-left: 10%;
  margin-bottom: 2rem;
  cursor: pointer;
}

.btn:hover {
  transition: 300ms;
  background-color: var(--blue-100);
}

.btn:disabled {
  background-color: #a5c3e8;
  color: #666;
  cursor: not-allowed;
}

@media only screen and (max-width: 480px) {
  .formContainer input {
    width: 70%;
    margin: 0 15% 1.2rem 15%;
    height: 3.5rem;
  }
  
  .formContainer textarea {
    width: 70%;
    margin: 0 15% 1.2rem 15%;
    height: 7rem;
    color: white;
  }

  .btn {
    width: 70%;
    margin-left: 15%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .formContainer input {
    width: 75%;
    margin: 0 12.5% 1.2rem 12.5%;
    height: 3.5rem;
  }
  
  .formContainer textarea {
    width: 75%;
    margin: 0 12.5% 1.2rem 12.5%;
    height: 7rem;
    color: white;
  }

  .btn {
    width: 75%;
    margin-left: 12.5%;
  }
}