.container {
  background-color: var(--gray-500);
  padding: 11rem 11rem 5rem;
}
.diretorio {
  margin-bottom: 2.5rem;
  color: var(--blue-500);
}

.diretorioLink {
  color: white;
  text-decoration: none;
}

.diretorioLink:hover {
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1.8rem
}

.titleLink {
  text-decoration: none;
  color: var(--blue-500);
}

.titleLink:hover {
  text-decoration: underline;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
}

.linkGit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  width: 8.33rem;
  height: 3rem;

  border-radius: 0.7rem;
  border-color: var(--blue-500);
  border-style: solid;

  color: white;
}

.linkGit img {
  width: 20px;
}

.description {
  text-align: justify;
  color: white;
  margin-bottom: 2rem;
}

.carrossel {
  position: relative;
  width: 100%;
  max-width: 50rem;
  height: 30rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-200);
  border-radius: 1rem;
}

.carrossel img {
  max-width: 100%;
  max-height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carrossel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carrossel button:first-child {
  left: 0;
}

.carrossel button:last-child {
  right: 0;
}

.linkSchool {
  color: var(--blue-500);
}

@media (max-width: 480px) {
  .container {
    padding: 11rem 2rem 2rem 2rem;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .carrossel {
    /* max-width: 25rem; */
    height: 25rem;
  }

 

  .carrossel button {
    font-size: 18px; /* Ajuste conforme necessário */
  }
}