.container {
  background-color: var(--gray-500);
  height: 30rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  padding-top: 5rem;
}

.header h3 {
  color: var(--blue-500);
  font-size: 3rem;
  margin-bottom: 2rem;
}
.header p {
  color: white;
  font-size: 1rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 3rem;
}

.liLink {
  list-style: none;
}
.liLink a {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  margin-bottom: 1rem;
  color: white;
  align-items: center;
}

.emailLink {
  display: flex;
  color: white;
  gap: 1rem;
}

.mailtoLink {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 1rem;
  align-items: center;
}

.btnCopy {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

.btnCopied {
  color: white;
  border: 0.07rem;
  padding: 0.3rem;
  border-radius: 1rem;
  border-style: solid;
}

@media only screen and (max-width: 480px) {
  .container {
    height: 30rem;
  }

  .header {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 4rem;
  }

  .header h3 {
    color: var(--blue-500);
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .header p {
    font-size: 0.8rem;
  }
  
  .linkContainer {
    margin-left: 15%;
  }
  
  .liLink a {
    font-size: 0.8rem;
  }
  
  .emailLink {
    font-size: 0.8rem;
  }
  
  .btnCopied {
    border: 0.05rem;
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    height: 35rem;
  }

  .header {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-top: 4rem;
  }

  .header h3 {
    color: var(--blue-500);
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .header p {
    font-size: 1.2rem;
  }
  
  .linkContainer {
    margin-left: 12.5%;
  }
  
  .liLink a {
    font-size: 1.2rem;
  }
  
  .emailLink {
    font-size: 1.2rem;
  }
  
  .btnCopied {
    border: 0.06rem;
    padding: 0.4rem;
    font-size: 1.2rem;
  }
}