.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;

  height: 6rem;
  width: 100%;

  background-color: var(--gray-700);
  opacity: 98%;
  gap: 2rem;

  z-index: 1000;
}

.name {
  color: var(--blue-500);
  text-decoration: none;
  outline: none;

  font-size: large;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: first baseline;
    height: 5rem;
  }
}