.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;

  height: 6rem;
  width: 100%;

  background-color: var(--gray-700);
  opacity: 98%;
  gap: 2rem;

  z-index: 1000;
}

.name {
  color: var(--blue-500);
  text-decoration: none;
  outline: none;

  font-size: large;
}

.linkContainer span {
  margin: 0px 1rem;

  color: white;
}

.linkStyle {
  text-decoration: none;
}

.btn {
  background: none;
  cursor: pointer;
  padding: 0.8rem 4rem;
  margin: 0;
  outline: none;

  border-radius: 0.7rem;
  border-color: var(--blue-500);
  border-style: solid;

  color: white;
}
.mobileMenuButton {
  display: none; /* Oculta o botão do menu em telas maiores */
  cursor: pointer;
  padding: 10px;
}

.mobileMenuOpen {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Ajuste conforme necessário para evitar sobreposição com o header */
  right: 0;
  background-color: #fff; /* Adapte conforme o seu design */
  border: 1px solid #ccc; /* Adapte conforme o seu design */
  padding: 10px;
}

.mobileMenuOpen a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #333; /* Adapte conforme o seu design */
}

@media only screen and (max-width: 600px) {
  .linkContainer, .btn {
    display: none; /* Oculta os links desktop em telas menores */
  }
  .headerContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: first baseline;
    /* justify-content: stretch; */
  }
  
  .mobileMenuButton {
    display: block; /* Mostra o botão do menu em telas menores */
  }
}