.linkContainer span {
  margin: 0px 1rem;

  color: white;
}

.linkStyle {
  text-decoration: none;
}

.btn {
  background: none;
  cursor: pointer;
  padding: 0.8rem 4rem;
  margin: 0;
  outline: none;

  border-radius: 0.7rem;
  border-color: var(--blue-500);
  border-style: solid;

  color: white;
}