.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 8rem;
  width: 100%;

  gap: 2rem;
  background-color: var(--blue-200);
}

.logos a {
  margin-right: 1rem;
}

.linksContainer span {
  margin: 0px 1rem;

  color: white;
}

.linkStyle {
  text-decoration: none;
}

.name {
  color: var(--blue-500);
}

@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: 10rem;
    gap: 1.5rem;
  }

  .logos a {
    margin-right: 1rem;
  }

  .logos a:nth-child(4) {
    margin-right: 0;
  }

  .linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .name {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: 12rem;
    gap: 1.5rem;
  }

  .logos a {
    margin-right: 1rem;
  }

  .logos a:nth-child(4) {
    margin-right: 0;
  }

  .linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    font-size: 1.2rem;
  }

  .name {
    font-size: 1.2rem;
  }
}