.vertical-timeline-element-content {
  background-color: var(--gray-200);
  color: white;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  gap: 1rem;
  margin-bottom: 2rem;
}
