.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 20px;
  padding-top: 20px;

  margin-bottom: 10rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--gray-200);

  border: 1px solid transparent;
  border-radius: 1rem;

  padding: 2rem 0.5rem;
}

.container:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 700ms;
}

.imgCard {
  width: 18rem;
  height: 13.5rem;

  color: white;
  margin-bottom: 1rem;
}

.nameCard {
  text-align: center;
  color: white;
}

.nameCard:hover {
  color: var(--blue-500);

  text-decoration: underline;
  transition: 300ms;
}

.sm {
  position: absolute;
  right: 0;
  bottom: 4;
  margin-top: 5px;
  margin-right: 3.9rem;
  color: var(--blue-500);
}

.sm:hover {
  color: white;

  transition: 750ms;
}


@media only screen and (max-width: 480px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 10px;
    padding-top: 20px;
  
    margin-bottom: 10rem;
  }

  .imgCard {
    width: 16rem;
    height: 12rem;
  }

  .nameCard {
    width: 16rem;
    font-size: 1rem;
    text-align: center;
    color: white;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 15px;
    padding-top: 20px;
  
    margin-bottom: 10rem;
  }

  .imgCard {
    width: 17rem;
    height: 12rem;
  }

  .nameCard {
    width: 17rem;
    font-size: 1.1rem;
    text-align: center;
    color: white;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 20px;
    padding-top: 20px;
  
    margin-bottom: 10rem;
  }


  .nameCard {
    width: 18rem;
    font-size: 1.3rem;
  }
}
