.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-top: 6rem;
  height: 24rem;
  background-color: var(--gray-500);
  color: white;
  font-size: 3.5rem;
}

.notFound button {
  padding: 1.2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--blue-500);
  cursor: pointer;
}

.notFound button:hover {
  background-color: var(--blue-600);
}

.linkbtn {
  color: white;
  text-decoration: none;
}