.container {
  background-color: var(--gray-500);
  padding: 11rem 11rem 5rem;
}

.diretorio {
  margin-bottom: 2.5rem;
  color: var(--blue-500);
}

.diretorioLink {
  color: white;
  text-decoration: none;
}

.diretorioLink:hover {
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  margin-bottom: 2rem;
  /* background-color: gray; */
}

.titleLink {
  text-decoration: none;
  color: var(--blue-500);
}

.titleLink:hover {
  text-decoration: underline;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.img img {
  width: 25rem;
}

.tagsContainer {
  background-color: var(--gray-200);
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 1rem;
}

.description {
  text-align: justify;
  color: white;
  margin-bottom: 2rem;
}

.dates {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 11rem 2rem 2rem 2rem;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.1rem;
  }
  .divisor {
    display: none;
  }
  
  .titleLink h2 {
    font-size: 1.1rem;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .img img {
    width: 90%;
  }

  .description {
    text-align: justify;
    color: white;
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }

  .dates {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
  }

  .dateDiv h3 {
    font-size: 1.1rem;
  }
  .dateDiv p {
    font-size: 0.9rem;
  }
}